<div id="todo">
  <div class="toolbox">
    <form class="addTodo" action="/todos" method="post">
      <input type="text" name="content" placeholder="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
    </form>
  </div>

  <div class="todo_list">
    <% @all_todos.each do |todo| %>
      <%= erb :"_todo", layout: false, locals: {todo: todo} %>
    <% end %>
  </div>



  <div id="todo_template">
  <!-- <div id="todo_template"> -->
  </div>
  <script id="entry_template" type="text/x-handlebars-template">
    <div class="todo" style="display: none;">
      <article id="{{ todo.id  }}">
        <span>{{todo.id }}</span>
        <span class="content">{{todo.todo_content}}</span>  
        <a class="edit"  href="/todos/{{todo.id}}/edit">Edit</a>
        <a class="delete"  href="/todos/{{todo.id }}">basura</a>
        <!-- <i class="fa fa-trash-o" aria-hidden="true"></i> -->
      </article>
    </div>
  </script>

</div>
