.racer_table td {
  /*background-color: peru;*/
  height: 50px;
  width: 110px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid peru;
  border-top: 1px solid peru;
}

.racer_table td.active {
  background-color: transparent;
  background-image: url("car.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.counter{
	
}